* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin-top: .1em;
}

.hidden {
    visibility: hidden;
}

.screen-container {
    border-radius: 25px;
    padding: 2px;
    background-color: rgb(47, 153, 47);
    margin-bottom: 10px;
}
.screen-container input {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    color: white;
}

.calc-screen {
    /* height: 5em; */
    font-size: 2.5rem;
    padding: 5px 10px;
    text-align: right;
    border: none;
}

.calc-mini-screen {
    font-size: 1.5rem;
    padding: 5px 8px;
    text-align: right;
    border: none;
}
.calc-mini-screen:focus-visible, .calc-screen {
    outline: none;
}

.calculator {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.calc-keys {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
}

.calc-key {
    border: none;
    border-radius: 20px;
    transition: ease;
}
.calc-key:hover {
    filter: opacity(.8);
    color: rgb(205, 0, 0);
    transform: translateY(-2px)
}
.calc-key:active {
    transform: translateY(-4px);
}

.calc-keys div, .key-rows button {
    width: 100%;
}

.key-rows button {
    aspect-ratio: 1;
    font-size: 2rem;
    cursor: pointer;
}

.key-rows {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
}

.key-rows div {
    width: 100%;
}

.operator-keys {
    display: flex;
    flex-direction: column;
}

.operator-key {
    background-color: rgb(39, 39, 39);
    color: white;
}

.backspace {
    background-color: rgb(255, 126, 126);
    color: white;
    
}