* {
    box-sizing: border-box;
}

h1 {
    margin-top: .1em;
}

.hidden {
    visibility: hidden;
}

.calc-screen {
    /* height: 5em; */
    margin-bottom: 10px;
    width: 100%;
    font-size: 2.5rem;
    padding: 10px 15px;
    text-align: right;
    border: none;
}

.calc-mini-screen {
    margin-bottom: 5px;
    width: 100%;
    font-size: 1.5rem;
    padding: 5px 8px;
    text-align: right;
    border: none;
}
.calc-mini-screen:focus-visible, .calc-screen {
    outline: none;
}

.calculator {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.calc-keys {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
}

.calc-keys div, .key-rows button {
    width: 100%;
}

.key-rows button {
    aspect-ratio: 1;
    font-size: 2rem;
    cursor: pointer;
}

.key-rows {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
}

.key-rows div {
    width: 100%;
}

.operator-keys {
    display: flex;
    flex-direction: column;
}